.custom-button {
    background-color: #6e6e6e;
    border-color: #000000;
    color: white;
  }
  
  .custom-button:hover {
    background-color: #007bff;
    border-color: #fdfdfd;
    color: white;
  }


/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-sm {
  max-width: 100%;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

thead {
  background-color: #f8f9fa;
}

th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

button.ml-2 {
  margin-left: 0.5rem;
}

.custom-button {
  margin-left: 0.5rem;
}

@media (max-width: 1200px) {
  /* Estilos para desktop */
  .container-sm {
    padding: 0 2rem;
  }

  table {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 768px) {
  /* Estilos para tablet */
  .container-sm {
    padding: 0 1rem;
  }

  table {
    font-size: 0.8rem;
  }

  th,
  td {
    padding: 0.4rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 576px) {
  /* Estilos para smartphone */
  .container-sm {
    padding: 0 0.5rem;
  }

  table {
    font-size: 0.7rem;
  }

  th,
  td {
    padding: 0.3rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
  }

  /* Ajustes específicos para pantallas muy pequeñas */
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    display: block;
    text-align: right;
  }

  th::before,
  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  th:last-child,
  td:last-child {
    border-bottom: 0;
  }
}
