/* Estilos generales */
.language-switcher-container {
  display: flex;
  justify-content: flex-end;
  background-color: #343a40; /* Color de fondo oscuro */
  padding: 10px;
}

.language-switcher-button {
  background-color: #343a40; /* Color de fondo oscuro */
  color: #ffffff; /* Color del texto */
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-switcher-button:hover {
  background-color: #495057; /* Color de fondo más oscuro al pasar el mouse */
}

.language-switcher-dropdown {
  position: absolute;
  background-color: #343a40; /* Color de fondo oscuro */
  color: #ffffff; /* Color del texto */
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.language-switcher-dropdown button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-switcher-dropdown button:hover {
  background-color: #495057; /* Color de fondo más oscuro al pasar el mouse */
}

.language-switcher-dropdown button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Estilos responsivos */

/* Smartphone */
@media (max-width: 767px) {
  .language-switcher-container {
    justify-content: center; /* Centra el botón de cambio de idioma */
  }

  .language-switcher-button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .language-switcher-dropdown {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .language-switcher-container {
    padding: 12px;
  }

  .language-switcher-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .language-switcher-container {
    padding: 14px;
  }

  .language-switcher-button {
    font-size: 16px;
    padding: 10px 20px;
  }
}